body {
    font-family: 'Open Sans', sans-serif;
    background-color:#fcf4ef;
    color: #444444;
}

section {
	padding: 80px 0;
}

a {
	color: #fd680e;
}

a:hover {
	color: #ff8f4c;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
}

.icon {
    cursor: pointer;
}
